/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  font-size: 2em;
}
.test:focus {
  outline: none;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: gray;
}
